body {
	margin: 0 auto;
}
.center {
	text-align: center;
}
.image {
	width: 100px;
	height: 100px;
}
.display {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.title {
	padding: 15px;
	border: 1px solid black;
	font-weight: normal;
}

#amount {
	width: 110px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
#get-currencies {
	width: 60px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
#from-currency {
	width: 60px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
p {
	display: inline-block;
	font-size: 16px;
	padding: 0px 10px;
}
.box {
	height: -100px;
	width: 67px;
	padding: 0px 5px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

@media only screen and (max-width: 700px) {
	body {
		width: 50%;
	}
	.image {
		text-align: center;
	}
	hr {
		width: 200px;
	}
}
